.input-wrapper {
  width: 75%;
  margin-top: 5rem;
  text-align: center;
  margin: 5rem auto;
  &__title {
    margin-bottom: 1rem;
  }
  &__history {
    margin: 1rem 0;
    text-align: left;
    color: #3FA8FF;
    font-size: 1rem;
    cursor: pointer;
  }
}
